# extends "base.html"
# block body
# for rec in records:
# if rec.myown
  # if rec.citedby:
  <h3>Paper:</h3>
  <p>
  {{  rec.authors|authorsformat("{f. }{vv}{ll{ }}{, jj}")|join(", ") }}:
  <em>{{rec.title}}</em>,
  {{rec.journal}},
  <strong>{{rec.volume}}</strong>
  ({{rec.year}})
  {{rec.startpage}}-{{rec.endpage}}
  </p>
  <h3>
  Cited in:
  </h3>
  <ol>
  # for rec_cited in rec.citedby:
    <li>
    {{  rec_cited.authors|authorsformat("{f. }{vv}{ll{ }}{, jj}")|join(", ") }}:
    <em>{{rec_cited.title}}</em>,
    # if rec_cited.journal:
        {{rec_cited.journal}},
    # endif
    # if rec_cited.series:
        {{rec_cited.series}},
    # endif
    <strong>{{rec_cited.volume}}</strong>
    ({{rec_cited.year}})
    {{rec_cited.startpage}}-{{rec_cited.endpage}}
    # if "as-preprint" in citation_tags[(rec_cited.key,rec.key)]:
      (cited as preprint)
    # endif
    </li>
  # endfor
  </ol>
  <hr>
  #endif
# endif
# endfor
# endblock

