# extends "base.html"
# block body
# for rec in records:
# if rec.myown
  # if rec.citedby:
  <h3>Paper:</h3>
  <p>
  {{  rec.authors|authorsformat("{f. }{vv}{ll{ }}{, jj}")|join(", ") }}:
  {{rec.title}},   
    #if rec.type=='article':
        <em>{{rec.journal}}</em>,
        <strong>{{rec.volume}}</strong>
        ({{rec.year}}),
    # elif rec.type=='inproceedings' or rec.type=='incollection':
       In: <em>{{rec.booktitle}}</em>,
       # if rec.series:
         {{rec.series}},
           # if rec.volume: 
             Vol. <strong>{{rec.volume}}</strong>,
           # endif 
       # endif
       # if rec.publisher: 
           {{rec.publisher}},
       # endif    
       {{rec.year}},
    
    # endif
    # if rec.startpage and rec.endpage
           {{rec.startpage}}-{{rec.endpage}},
    # endif
    # if rec.article_number
         art. nr.   {{rec.article_number}},
    # endif
    # if rec.preprint
           arxiv:{{rec.preprint}},
    # endif      
    {{rec.kategoria}}
  </p>
  <h3>
  Cited in ({{ rec.citedby | length}}):
  </h3>
  <ol>
  # for rec_cited in rec.citedby:
    <li>
    {{  rec_cited.authors|authorsformat("{f. }{vv}{ll{ }}{, jj}")|join(", ") }}:
    # if rec_cited.type=='article':
        {{rec_cited.title}},
        <em>{{rec_cited.journal}}</em>,
        <strong>{{rec_cited.volume}}</strong>
        ({{rec_cited.year}}),
    # elif rec_cited.type=='book':
        <em>{{rec_cited.title}}</em>,
        # if rec_cited.series:
         {{rec_cited.series}},
           # if rec_cited.volume: 
            Vol. <strong>{{rec_cited.volume}}</strong>,
           # endif 
        # endif
       {{rec_cited.publisher}},
       {{rec_cited.year}}
    # elif rec_cited.type=='inproceedings' or rec_cited.type=='incollection':
       {{rec_cited.title}},
       In: <em>{{rec_cited.booktitle}}</em>,
       # if rec_cited.series:
         {{rec_cited.series}},
           # if rec_cited.volume: 
             Vol. <strong>{{rec_cited.volume}}</strong>,
           # endif 
       # endif
       # if rec_cited.publisher: 
           {{rec_cited.publisher}},
       # endif    
       {{rec_cited.year}},
    # endif   
    # if rec_cited.startpage and rec_cited.endpage
           {{rec_cited.startpage}}-{{rec_cited.endpage}},
    # elif rec_cited.article_number
           art. nr. {{rec_cited.article_number}},
    # endif
    # for tag in rec_cited.tags:
    [{{tag}}]
    # endfor
    # if "as-preprint" in citation_tags[(rec_cited.key,rec.key)]:
      (cites preprint)
    # endif

    </li>
  # endfor
  </ol>
  <hr>
  #endif
  #endif
# endfor
# endblock

