# extends "base.html" 
# block body 
# for rec in records 
#     if rec.citedby 
        <li>
#         for au in rec.authors 
            {{au}},
#         endfor :
        <em>{{rec.title}}</em>,
        {{rec.journal}},
        <strong>{{rec.volume}}</strong>
        ({{rec.year}})
        {{rec.startpage}}-{{rec.endpage}}
        <ul>
#         for cb in rec.citedby 
            <li>
#             for au in cb.authors 
                {{au}},
#             endfor :
            <em>{{cb.title}}</em>,
            {{cb.journal}},
            <strong>{{cb.volume}}</strong>
            ({{cb.year}})
            {{cb.startpage}}-{{cb.endpage}}
            </li>
#         endfor 
    </ul>
        </li>
#     endif 
# endfor 
</ol>
# endblock 

